@model Portfolio.ViewModels.BlogViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    Model.Title = "";
}

<div>
    @if (Model.Articles != null)
    {
        foreach (Portfolio.ViewModels.ArticleViewModel articleModel in Model.Articles)
        {
        <div class="row-fluid">
            @Html.Partial("ArticleView", articleModel)
        </div>
        }
        
        <div class="pagination pagination-large pagination-right">
            <ul>

                @if (Model.CurrentPage > 1)
                {
                    <li><a href="@Url.Action("Index", "Blog", new { page = Model.CurrentPage - 1 })">&larr;</a></li>
                }

                @for (int i = Model.CurrentPage - 6; i < Model.CurrentPage + 6; i++)
                {
                    if (i < 1 || i > Model.PageCount)
                    {
                        continue;
                    }
                    <li class="@(i == Model.CurrentPage ? "active" : "")"><a href="@Url.Action("Index", "Blog", new { page = i })">@i</a></li>
                }

                @if (Model.CurrentPage < Model.PageCount)
                {
                    <li><a href="@Url.Action("Index", "Blog", new { page = Model.CurrentPage + 1 })">&rarr;</a></li>
                }
            </ul>
        </div>
    }
</div>
